{% extends "base.html" %}


{% block body %}
    <div class="container">
        {% comment %} <h1>This is my home page</h1>
        <p>Name: {{name | upper }}</p>
        <p>Age: {{age}}</p>
        <p>Courser: 
            {% for course in Courses %}
                <li>{{course}}</li>
            {% empty %}
            <p>The list is empty</>
            {% endfor %}
        </p>   {% endcomment %}

        {% comment %} {% for key, value in students.items %}
            <h3>{{key}}:</h3> <br>
            {% for key, value in value.items %}
                <Li>{{key}}:{{value}}</Li>
            {% endfor %}
        {% endfor %}  {% endcomment %}

        {% comment %} {% for std_key, std_value in students.items %}
             <p>Name: {{std_value.name}}</p>
             <p>Age: {{std_value.age}}</p>
             <p>Courses: 
                {% for crs in std_value.Courses %}
                    <li>{{crs}}</li>
                {% endfor %}
             </p>
        {% endfor %} {% endcomment %}


        {% comment %} {{students}} {% endcomment %}

        {% comment %} {% for std_key, std_value in students.items %}
            <p>{{std_key}} :</p>
            {% for key, value  in std_value.items %}
                <p>{{key}} : {{value}}</p>
            {% endfor %}
        {% endfor %} {% endcomment %}

        {% for std_key, std_value in students.items %}
            <p>std_key : {{std_key}} </p>
            <p>std_value :</p> 
            <p> Name: {{std_value.name}}</p>
            <p>Age: {{std_value.age}}</p>
            <p>Courses  :
                {% for course in std_value.Courses %}
                    <li>{{course}}</li>
                {% endfor %}    
            </p>
            <hr>
        {% endfor %}

        




    </div>

    
{% endblock body %}

{% block title %}
    home
{% endblock title %}